body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* 白色背景 */
}

.heading {
    padding-left: 5%;
    padding: 1%;
    font-size: 30px;
    font-weight: 400;
    background-color: #4CAF50; /* 柔和的绿色 */
    color: white;
    border-radius: 8px; /* 添加圆角 */
    text-align: center;
    position: relative;
}

.subtitle {
    font-size: 16px;
    color: #e0f7fa; /* 浅蓝色，与背景形成对比 */
    margin-top: 5px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#captureButton {
    background-color: #388E3C; /* 深一点的绿色按钮 */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* 添加圆角 */
}

#info {
    background-color: #388E3C; /* 深绿色 */
    border-radius: 8px; /* 添加圆角 */
    color: white;
    cursor: pointer;
    padding: 10px;
}

.box {
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9; /* 浅灰色背景 */
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
}

.box1 {
    width: 30%;
    background-color: #66BB6A; /* 中等绿色 */
    color: white;
    border-radius: 8px; /* 添加圆角 */
    padding: 20px;
}

.box2 {
    width: 68%;
    background-color: #ffffff; /* 保持白色背景 */
    border-radius: 8px; /* 添加圆角 */
    padding: 20px;
}

#image-preview {
    width: 100%;
}

#info {
    float: right;
}

/* tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000000 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#draggable {
    text-align: center;
    background-color: transparent;
    display: inline-block;
    position: relative;
    border: none;
}

#image-upload {
    display: none; /* Hide the file input initially */
}

#uploaded-image {
    max-width: 100%;
    max-height: 100%;
    transform-origin: center center;
}

.product_title {
    color: #333333; /* 深灰色文本 */
    padding-left: 40%;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .box {
        width: 100%;
        margin-bottom: 10px;
    }
}
